h1 {
    color: crimson;
    background-color: darkorchid;
}

p {
    color: green;
    background-color: orangered;
    font-family: Magneto;
}

#nota1 {
    color: fuchsia;
    background-color: greenyellow;
    font-family: 'Franklin Gothic';
}

 input{
     background-color:darkslateblue;
 }

 button{
     color:orangered;
     background-color:mediumblue
 }


 